/* line 5, ../sass/graffiti.scss */
html, body {
  background-color: #E7E7E7; }

/* line 9, ../sass/graffiti.scss */
p {
  color: gray;
  font-size: 11px;
  font-weight: bold;
  margin: 25px 0 16px 40px; }

/* line 16, ../sass/graffiti.scss */
::-moz-selection {
  background: #9E9E9E;
  color: #fff;
  text-shadow: none; }

/* line 17, ../sass/graffiti.scss */
::selection {
  background: #9E9E9E;
  color: #fff;
  text-shadow: none; }

/* line 19, ../sass/graffiti.scss */
.au_title_bar {
  background: url('../images/bkg_title_bar_graffiti.png?1320422177');
  background-color: #464646;
  -moz-box-shadow: #cfcfcf 0px 2px 3px;
  -webkit-box-shadow: #cfcfcf 0px 2px 3px;
  -o-box-shadow: #cfcfcf 0px 2px 3px;
  box-shadow: #cfcfcf 0px 2px 3px;
  border-top-color: #333333;
  border-bottom-color: #2B2B2B; }
  /* line 33, ../sass/graffiti.scss */
  .au_title_bar h1 {
    color: #d9d9d9;
    font-weight: bold; }
  /* line 38, ../sass/graffiti.scss */
  .au_title_bar h2 {
    color: #bfbfbf;
    font-weight: bold; }

/* line 44, ../sass/graffiti.scss */
.au_btn_lite {
  background: url('../images/bkg_button_lite_graffiti.png?1320773540');
  background-color: #EAEAEA;
  border: 1px solid #BFBFBF;
  color: #737373; }

/* line 51, ../sass/graffiti.scss */
.au_btn_lite.hover {
  background: url('../images/bkg_button_lite_hover_graffiti.png?1320773538'); }

/* line 55, ../sass/graffiti.scss */
.au_btn_lite.pressed {
  background: #eaeaea; }

/* line 59, ../sass/graffiti.scss */
.au_btn_dark {
  background: url('../images/bkg_button_dark_graffiti.png?1320774720');
  background-color: #575757;
  border: 1px solid #404040;
  color: #edf8fa; }

/* line 66, ../sass/graffiti.scss */
.au_btn_dark.hover {
  background: url('../images/bkg_button_dark_hover_graffiti.png?1320774705'); }

/* line 70, ../sass/graffiti.scss */
.au_btn_dark.pressed {
  background: #4c4c4c; }

/* line 74, ../sass/graffiti.scss */
input.au_text {
  background-color: #F5F5F5;
  border: 1px solid #BABABA;
  -moz-box-shadow: #bababa 0.5px 0.4px 5px inset;
  -webkit-box-shadow: #bababa 0.5px 0.4px 5px inset;
  -o-box-shadow: #bababa 0.5px 0.4px 5px inset;
  box-shadow: #bababa 0.5px 0.4px 5px inset;
  color: gray; }

/* line 81, ../sass/graffiti.scss */
div.au_checkbox {
  background: url('../images/checkbox_graffiti.png?1320861428') no-repeat;
  height: 15px;
  width: 15px; }

/* line 87, ../sass/graffiti.scss */
div.au_checkbox.au_marked {
  background: url('../images/checkbox_marked_graffiti.png?1320861306') no-repeat; }

/* line 91, ../sass/graffiti.scss */
div.au_radio_button {
  background: url('../images/radio_button_graffiti.png?1320861270') no-repeat;
  height: 13px;
  width: 14px; }

/* line 97, ../sass/graffiti.scss */
div.au_radio_button.au_marked {
  background: url('../images/radio_button_marked_graffiti.png?1320861217') no-repeat; }
