/* line 3, ../sass/aurora.scss */
html, body {
  font-family: Arial, sans-serif;
  overflow: auto; }

/* line 9, ../sass/aurora.scss */
.au_title_bar {
  border-style: solid;
  border-width: 1px;
  border-left: 0 none;
  border-right: 0 none;
  height: 35px;
  line-height: 35px; }
  /* line 21, ../sass/aurora.scss */
  .au_title_bar h1 {
    display: inline;
    font-size: 36px;
    margin: 0 0 0 40px; }
  /* line 26, ../sass/aurora.scss */
  .au_title_bar h2 {
    display: inline;
    font-size: 9px;
    margin: 0 0 0 5px; }

/* line 41, ../sass/aurora.scss */
.au_btn_lite, .au_btn_dark {
  border: 0 none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 10px;
  position: relative; }

/* line 45, ../sass/aurora.scss */
div.content_widgets {
  clear: both;
  overflow: hidden;
  width: 100%; }
  /* line 50, ../sass/aurora.scss */
  div.content_widgets > div {
    float: left;
    margin: 25px 0 16px 40px;
    width: 300px; }
    /* line 55, ../sass/aurora.scss */
    div.content_widgets > div p {
      margin-left: 0; }

/* line 61, ../sass/aurora.scss */
input.au_text {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  height: 24px;
  padding: 0 6px;
  width: 274px; }

/* line 68, ../sass/aurora.scss */
div.au_checkbox, div.au_radio_button {
  float: left;
  margin-right: 10px; }
